body{
    background-color: rgb(198, 216, 226);

}
div{
    width: 20cm;
    height:20cm;
    margin:auto;
    column-gap: 0%;
}

.link{
    background-size: 10px, 100%;
    background-color: black;
    background-size: 10px, 100%;
    font-size: 20px;
}

nav a{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 90px;
    font-family:'Times New Roman', Times, serif;
    
}
nav ul{
    font-size: 16px;
    text-align: center;
}

h1{
    color: #000000;
    display: flex;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
}


